[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
sqlalchemy = "*"
pgvector = "*"
psycopg2-binary = "*"
pydantic = "*"
pyjwt = "*"
requests = "*"
langchain = "==0.3.27"
langchain-core = "==0.3.76"
langchain-openai = "==0.3.33"
python-multipart = "*"
openai = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
